hanko-auth,
hanko-profile {
  /* Color Scheme */
  --color: black;
  --color-shade-1: #888888;
  --color-shade-2: #cccccc;

  --brand-color: #000000;
  --brand-color-shade-1: #cccccc;
  --brand-contrast-color: white;

  --background-color: white;
  --error-color: black;
  --link-color: black;

  /* Font Styles */
  --font-family: Roboto;
  --font-weight: 400;
  --font-size: 16px;

  /* Border Styles */
  --border-radius: 8px;
  --border-style: outset;
  --border-width: 1px;

  /* Item Styles */
  --item-height: 34px;
  --item-margin: 0.5rem 0;

  /* Container Styles */
  --container-padding: 30px;
  --container-max-width: 410px;
  --container-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  /* Headline Styles */
  --headline1-font-size: 28px;
  --headline1-font-weight: 600;
  --headline1-margin: 0 0 1rem;

  --headline2-font-size: 18px;
  --headline2-font-weight: 600;
  --headline2-margin: 1rem 0 0.5rem;

  /* Divider Styles */
  --divider-padding: 0 42px;
  --divider-visibility: visible;

  /* Link Styles */
  --link-text-decoration: none;
  --link-text-decoration-hover: underline;

  /* Input Styles */
  --input-min-width: 14em;

  /* Button Styles */
  --button-min-width: max-content;
}
