.Notes-Container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 25px;
}

.Notes-Container img {
    width: 30px;
    border-radius: 50%;
}

.note-edit {
  border-radius: 50%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  li:hover {
    background-color: #eee;
  }
  